.root {
  --badge-height-xs: rem(16px);
  --badge-height-sm: rem(20px);
  --badge-height-md: rem(24px);
  --badge-height-lg: rem(28px);
  --badge-fz-xs: var(--mantine-font-size-caption-m);
  --badge-fz-sm: var(--mantine-font-size-caption-m);
  --badge-fz-md: var(--mantine-font-size-caption-l);
  --badge-fz-lg: var(--mantine-font-size-caption-l);
  --badge-padding-x-xs: rem(2px);
  --badge-padding-x-sm: rem(3px);
  --badge-padding-x-md: rem(4px);
  --badge-padding-x-lg: rem(6px);

  text-transform: none;
  font-weight: 500;
  letter-spacing: var(--badge-ls);

  &[data-size='xs'] {
    --badge-radius: var(--mantine-radius-xs);
    --badge-label-padding-x: rem(2px);
    --badge-lh: var(--mantine-line-height-caption-m);
    --badge-ls: var(--mantine-spacing-caption-m);
  }

  &[data-size='sm'] {
    --badge-radius: var(--mantine-radius-sm);
    --badge-label-padding-x: rem(3px);
    --badge-lh: var(--mantine-line-height-caption-m);
    --badge-ls: var(--mantine-spacing-caption-m);
  }

  &[data-size='md'],
  &[data-size='lg'] {
    --badge-radius: var(--mantine-radius-md);
    --badge-label-padding-x: rem(4px);
    --badge-lh: var(--mantine-line-height-caption-l);
    --badge-ls: var(--mantine-spacing-caption-l);
  }

  &[data-variant='gray'] {
    --badge-bg: var(--color-background-badge-gray);
    color: var(--color-text-base-secondary);
  }

  &[data-variant='blue'] {
    --badge-bg: var(--color-background-badge-blue);
    color: var(--color-text-accent-blue-inverted);
  }

  &[data-variant='green'] {
    --badge-bg: var(--color-background-badge-green);
    color: var(--color-text-accent-green-inverted);
  }

  &[data-variant='orange'] {
    --badge-bg: var(--color-background-badge-orange);
    color: var(--color-text-accent-orange-inverted);
  }

  &[data-variant='red'] {
    --badge-bg: var(--color-background-badge-red);
    color: var(--color-text-accent-red-inverted);
  }

  &[data-variant='purple'] {
    --badge-bg: var(--color-background-badge-purple);
    color: var(--color-text-accent-purple-inverted);
  }

  &[data-variant='white'] {
    --badge-bg: var(--color-background-badge-white);
    color: var(--color-text-base-secondary);
  }

  &[data-variant='white-destructive'] {
    --badge-bg: var(--color-background-badge-white);
    color: var(--color-text-status-destructive);
  }
}

.section {
  margin-inline: 0;
}

.label {
  margin-bottom: rem(-1px);
  padding-inline: var(--badge-label-padding-x);
}
