@font-face {
  font-family: 'Password';
  src:
    local('Password'),
    url(../../../assets/fonts/password.woff2) format('woff2');
  font-weight: 100;
}

.input {
  font-family: Password, monospace;
  font-display: swap;
}
