.root {
  --button-height-xs: rem(24px);
  --button-height-sm: rem(32px);
  --button-height-md: rem(40px);
  --button-height-lg: rem(48px);

  --button-padding-x-xs: rem(8px);
  --button-padding-x-sm: rem(10px);
  --button-padding-x-md: rem(12px);
  --button-padding-x-lg: rem(16px);

  font-weight: 500;
  border: rem(1px) solid transparent;

  &[data-size='xs'] {
    --button-radius: var(--mantine-radius-md);
    font-size: var(--mantine-font-size-caption-m);
    line-height: var(--mantine-line-height-caption-m);
    letter-spacing: var(--mantine-spacing-caption-m);
  }

  &[data-size='sm'] {
    --button-radius: var(--mantine-radius-lg);
    font-size: var(--mantine-font-size-caption-l);
    line-height: var(--mantine-line-height-caption-l);
    letter-spacing: var(--mantine-spacing-caption-l);
  }

  &[data-size='md'] {
    --button-radius: var(--mantine-radius-xl);
    font-size: var(--mantine-font-size-caption-l);
    line-height: var(--mantine-line-height-caption-l);
    letter-spacing: var(--mantine-spacing-caption-l);
  }

  &[data-size='lg'] {
    --button-radius: var(--mantine-radius-xl);
    font-size: var(--mantine-font-size-body-s);
    line-height: var(--mantine-line-height-body-s);
    letter-spacing: var(--mantine-spacing-body-s);
  }

  &[data-variant='primary'] {
    --button-bg: var(--color-background-button-primary);
    --button-hover: var(--color-background-button-primary-hover);
    --button-color: var(--color-text-base-inverted);
    box-shadow: var(--mantine-shadow-xs);

    &:focus-visible {
      border-color: transparent;
    }

    &:where(:disabled:not([data-loading]), [data-disabled]:not([data-loading])) {
      background-color: var(--color-background-button-primary-disabled);
      box-shadow: none;
    }
  }

  &[data-variant='secondary'] {
    --button-bg: var(--color-background-button-secondary);
    --button-hover: var(--color-background-button-secondary-hover);
    --button-color: var(--color-text-base-primary);
    border-color: var(--color-border-action-normal);
    box-shadow: var(--mantine-shadow-xs);

    @media (hover: hover) {
      &:hover:where(:not([data-loading], :disabled, [data-disabled])) {
        border-color: var(--color-border-action-hover);
      }
    }

    &:where(:disabled:not([data-loading]), [data-disabled]:not([data-loading])) {
      background-color: var(--color-background-button-secondary-disabled);
      border-color: var(--color-border-action-disabled);
      box-shadow: none;
    }

    &::before {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  &[data-variant='tertiary'] {
    --button-bg: var(--color-background-button-tertiary);
    --button-hover: var(--color-background-button-tertiary-hover);
    --button-color: var(--color-text-base-primary);

    &:where(:disabled:not([data-loading]), [data-disabled]:not([data-loading])) {
      background-color: var(--color-background-button-tertiary);
    }

    &::before {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  &[data-variant='ghost'] {
    --button-bg: transparent;
    --button-hover: var(--color-background-button-ghost-hover);
    --button-color: var(--color-text-base-secondary);
    box-shadow: none;

    &:where(:disabled:not([data-loading]), [data-disabled]:not([data-loading])) {
      background-color: transparent;
    }

    &::before {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  &:where(:disabled:not([data-loading]), [data-disabled]:not([data-loading])) {
    color: var(--color-text-base-quaternary);
  }

  &:focus-visible {
    border-color: var(--color-border-action-focus-light);
    box-shadow: var(--shadow-focus-ring-light);
  }

  &:where([data-with-left-section]) {
    padding-inline-start: var(--button-padding-x);
  }
}

.section {
  &:where([data-position='left']) {
    margin-inline-end: rem(4px);

    .root[data-size='sm'] & {
      margin-inline-end: rem(2px);
    }
  }

  &:where([data-position='right']) {
    margin-inline-start: rem(4px);

    .root[data-size='sm'] & {
      margin-inline-start: rem(2px);
    }
  }
}

.label {
  .root[data-size='sm'] &,
  .root[data-size='md'] &,
  .root[data-size='lg'] & {
    padding-inline: rem(4px);
  }
}

.root[data-variant='link'] {
  --button-bg: transparent;
  --button-hover: transparent;
  --button-color: var(--color-text-base-primary);
  --button-hover-color: var(--color-text-base-secondary);
  --button-radius: var(--mantine-radius-xs);
  --button-height-sm: rem(20px);
  --button-height-md: rem(24px);
  padding-inline: 0;

  &:where(:disabled:not([data-loading]), [data-disabled]:not([data-loading])) {
    background: none;

    & .section svg {
      fill: var(--color-text-base-quaternary);
    }
  }

  &[data-size='md'] {
    font-size: var(--mantine-font-size-body-s);
    letter-spacing: var(--mantine-spacing-body-s);
  }

  & .label {
    padding-inline: rem(2px);
  }
}
