.root {
  --button-height-sm: 2rem;
  --button-height-md: 2.5rem;
  --button-height-lg: 3rem;

  --button-padding-x-sm: 1rem;
  --button-padding-x-md: 1rem;
  --button-padding-x-lg: 1rem;

  font-family: var(--mantine-font-family);
  font-weight: 500;
  font-size: var(--mantine-font-size-caption-l);
  line-height: var(--mantine-line-height-caption-l);
  letter-spacing: var(--mantine-spacing-caption-l);

  &[data-variant='primary'] {
    background-color: var(--mantine-color-primary-0);
    color: var(--mantine-color-white);
    box-shadow: var(--mantine-shadow-xs);

    &:focus-visible {
      border: none;
    }

    &:hover {
      background-color: var(--color-background-button-primary-hover);
    }

    &:disabled,
    &[data-disabled] {
      background-color: var(--color-background-button-primary-disabled);
    }
  }

  &[data-variant='secondary'] {
    background-color: var(--mantine-color-secondary-0);
    color: var(--mantine-color-primary);
    border: 1px solid var(--mantine-color-border-action-normal-0);
    box-shadow: var(--mantine-shadow-xs);

    &:hover {
      background-color: var(--color-background-button-secondary-hover);
      border: 1px solid var(--color-border-action-hover);
    }

    &:disabled,
    &[data-disabled] {
      background-color: var(--color-background-button-secondary-disabled);
      border: 1px solid var(--color-border-action-disabled);
    }

    .loader {
      --button-color: var(--mantine-color-gray-5);
    }
  }

  &[data-variant='tertiary'] {
    background-color: var(--color-background-button-tertiary);
    color: var(--mantine-color-primary);

    &:hover {
      background-color: var(--color-background-button-tertiary-hover);
    }

    &:disabled,
    &[data-disabled] {
      background-color: var(--color-background-button-tertiary);
    }

    .loader {
      --button-color: var(--mantine-color-gray-5);
    }
  }

  &[data-variant='ghost'] {
    background-color: transparent;
    color: var(--mantine-color-text-base-secondary-0);
    box-shadow: none;

    &:hover {
      background-color: var(--color-background-button-ghost-hover);
    }

    &:disabled,
    &[data-disabled] {
      background-color: transparent;
    }

    .loader {
      --button-color: var(--mantine-color-gray-5);
    }
  }

  &:disabled,
  &[data-disabled] {
    color: var(--color-text-base-quaternary);
  }

  &:focus-visible {
    border: rem(1px) solid var(--color-border-action-focus-light);
    box-shadow: var(--shadow-focus-ring-light);
  }
}

.section {
  --mantine-spacing-xs: 0.25rem;
}
