.root {
  padding: 10px 12px;
  border-radius: 12px;
  box-shadow: var(--mantine-shadow-xs);
  height: auto;

  font-family: var(--mantine-font-family);
  font-weight: 500;
  font-size: var(--mantine-font-size-caption-l);
  line-height: var(--mantine-line-height-caption-l);
  letter-spacing: var(--mantine-spacing-caption-l);

  &[data-variant='primary'] {
    background-color: var(--mantine-color-primary-0);
    color: var(--mantine-color-white);
    border-radius: var(--mantine-radius-xl);
  }

  &[data-variant='secondary'] {
    background-color: var(--mantine-color-secondary-0);
    color: var(--mantine-color-primary);
    border: 1px solid var(--mantine-color-border-action-normal-0);

    .loader {
      --button-color: var(--mantine-color-gray-5);
    }
  }

  &[data-variant='tertiary'] {
    background-color: var(--mantine-color-tertiary-0);
    color: var(--mantine-color-primary);

    .loader {
      --button-color: var(--mantine-color-gray-5);
    }
  }

  &[data-size='xs'] {
    padding: 6px;
  }

  &[data-disabled='true'] {
    background-color: var(--mantine-color-background-button-primary-disabled-0);
    color: var(--mantine-color-text-base-quaternary-0);
  }
}
