.root {
  background-color: var(--mantine-color-primary-0);
  border-radius: 12px;
  color: var(--mantine-color-white);
  height: 3rem;
  font-weight: 500;
}

.inner {
  /* background-color: red; */
}

.label {
  /* color: yellow; */
}
