.root {
  display: flex;
  flex-flow: column;
  gap: rem(8px);
}

.input {
  --input-height: 2.5rem;
  --input-color: var(--color-text-base-primary);
  --input-disabled-bg: var(--color-background-input-disabled);
  --input-disabled-color: var(--color-text-base-quaternary);
  --input-radius: var(--mantine-radius-xl);
  --input-bd: var(--color-border-action-normal);

  box-shadow: var(--mantine-shadow-xs);

  [data-position='left'] ~ & {
    --input-padding-inline-start: 2.5rem;
  }

  @media (hover: hover) {
    &:hover:where(:not([data-loading], :disabled, [data-disabled])) {
      --input-bd: var(--color-border-action-hover);
    }
  }

  &:focus-within {
    --input-bd: var(--color-border-action-focus-light);
    box-shadow: var(--shadow-focus-ring-light);
  }

  &[data-error] {
    --input-color: var(--color-text-status-destructive);
    --input-bd: var(--color-border-action-destructive);

    @media (hover: hover) {
      &:hover:where(:not([data-loading], :disabled, [data-disabled])) {
        --input-bd: var(--color-border-action-destructive-hover);
      }
    }

    &:focus-within {
      --input-bd: var(--color-border-action-focus-destructive-light);
      box-shadow: var(--shadow-focus-ring-light-destructive);
    }
  }

  &:disabled,
  [data-disabled] {
    --input-bd: var(--color-border-action-disabled);
    box-shadow: none;
  }
}

.wrapper {
  margin-bottom: 0;
}

.section {
  --input-section-color: var(--color-icon-base-tertiary);
  --right-section-end: 0.25rem;
  --left-section-start: 0.25rem;

  .wrapper[data-disabled] & {
    --input-section-color: var(--color-icon-base-quaternary);
  }
}

.description,
.error {
  padding-block: rem(2px);
  font-size: var(--mantine-font-size-caption-l);
  line-height: var(--mantine-line-height-caption-l);
  letter-spacing: var(--mantine-spacing-caption-l);
  display: flex;

  &::before {
    content: '';
    width: rem(16px);
    height: rem(16px);
    background: currentColor;
    mask: url('../../../assets/error.svg') no-repeat;
    margin-top: rem(2px);
    margin-right: rem(4px);
    flex-shrink: 0;
  }
}

.description {
  color: var(--color-text-base-tertiary);
}

.error {
  color: var(--color-text-status-destructive);
}
