.root {
  display: flex;
  flex-flow: column;
  gap: rem(8px);
}

.input {
  --input-height: 2.5rem;

  border-radius: var(--mantine-radius-xl);
  border: 1px solid var(--mantine-color-border-action-normal-0);
  box-shadow: var(--mantine-shadow-xs);
  color: var(--mantine-color-text-base-primary-0);

  [data-position='left'] ~ & {
    --input-padding-inline-start: 2.5rem;
  }

  &:hover {
    border-color: var(--color-border-action-hover);
  }

  &:focus {
    border-color: var(--mantine-color-text-base-primary-0);
  }

  &[data-error] {
    border: 1px solid var(--color-border-action-destructive);
    color: var(--color-text-status-destructive);

    &:hover {
      border-color: var(--color-border-action-destructive-hover);
    }

    &:focus {
      border-color: var(--color-border-action-focus-destructive-light);
    }
  }
}

.wrapper {
  margin-bottom: 0;
}

.section {
  --right-section-end: 0.75rem;
  --left-section-start: 0.25rem;
}

.description,
.error {
  padding-block: rem(2px);
  font-size: var(--mantine-font-size-caption-l);
  line-height: var(--mantine-line-height-caption-l);
  letter-spacing: var(--mantine-spacing-caption-l);

  &::before {
    content: '';
    display: inline-block;
    width: rem(16px);
    height: rem(16px);
    background: currentColor;
    mask: url('../../../assets/error.svg');
    margin-right: rem(4px);
    vertical-align: sub;
  }
}

.description {
  color: var(--color-text-base-tertiary);
}

.error {
  color: var(--color-text-status-destructive);
}
