.root {
  font-family: var(--mantine-font-family);
  font-weight: 500;
  font-size: var(--mantine-font-size-caption-l);
  line-height: var(--mantine-line-height-caption-l);
  letter-spacing: var(--mantine-letter-spacing-caption-l);
}
