/* cyrillic-ext */
@font-face {
  font-family: Onest;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('../../assets/fonts/onest-cyr-ext.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: Onest;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('../../assets/fonts/onest-cyr.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
  font-family: Onest;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('../../assets/fonts/onest-lat-ext.woff2') format('woff2');
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329,
    U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F,
    U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: Onest;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('../../assets/fonts/onest-lat.woff2') format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --color-background-accent-gray-accent: #717684;
  --color-background-accent-gray-subtle: #e9eaec;
  --color-background-accent-green-accent: #26bd6c;
  --color-background-button-primary: #14151a;
  --color-background-button-primary-hover: #1f2228;
  --color-background-button-primary-disabled: #e9eaec;
  --color-background-button-secondary: #ffffff;
  --color-background-button-secondary-hover: #f7f7f8;
  --color-background-button-secondary-disabled: #fff;
  --color-background-button-tertiary: #0a0f290a;
  --color-background-button-tertiary-hover: #0a0f2914;
  --color-background-button-ghost-hover: #0a0f290a;
  --color-border-action-normal: #dee0e3;
  --color-border-action-hover: #c8cad0;
  --color-border-action-disabled: #e9eaec;
  --color-border-action-focus-light: #b78af0;
  --color-border-action-destructive: #f7c3c0;
  --color-border-action-destructive-hover: #f5b2ad;
  --color-border-action-focus-destructive-light: #f08b85;
  --color-text-accent-blue-accent: #4778f5;
  --color-text-base-tertiary: #0d112666;
  --color-text-base-quaternary: #0a0f2940;
  --color-text-status-destructive: #e6483d;
  --color-icon-base-secondary: #0f132499;
  --color-icon-base-tertiary: #0d112666;
  --color-icon-base-quaternary: #0a0f2940;
  --color-icon-base-inverted: #ffffff;
  --shadow-focus-ring-light: 0px 0px 0px 2px #c8b2ff80;
}
