.root {
  --mb-shadow: var(--mantine-shadows-lg);
  --mb-padding: rem(20px);
}

@media (max-width: $mantine-breakpoint-xs) {
  .inner {
    align-items: end;
    padding: 0;
  }
}

.content {
  border: rem(1px) solid var(--color-border-base-alpha);
  border-radius: var(--mantine-radius-xxl);

  @media (max-width: $mantine-breakpoint-xs) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.body {
  padding-bottom: rem(32px);
}

.title {
  font-weight: 600;
  font-size: var(--mantine-font-size-body-s);
  line-height: var(--mantine-line-height-body-s);
  letter-spacing: var(--mantine-spacing-body-s);
}

.close {
  margin-top: rem(-4px);
  margin-right: rem(1px);
  background-color: var(--color-background-button-tertiary);
}
